USE [master]
GO
/****** Object:  Database [QLCF]    Script Date: 12/11/2023 8:41:00 PM ******/
CREATE DATABASE [QLCF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCF', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLCF.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLCF_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLCF_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCF]
GO
/****** Object:  StoredProcedure [dbo].[USP_CHUYENBAN]    Script Date: 12/11/2023 8:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_CHUYENBAN]
@MABAN1 INT , @MABAN2 INT
AS
BEGIN
	DECLARE @MAHDMOT INT
	DECLARE @MAHDHAI INT

	DECLARE @BANTRONGMOT INT = 1
	DECLARE @BANTRONGHAI INT = 1

	SELECT @MAHDHAI = MAHD FROM HOADON WHERE MABAN = @MABAN2 AND TRANGTHAIHD = 0
	SELECT @MAHDMOT = MAHD FROM HOADON WHERE MABAN = @MABAN1 AND TRANGTHAIHD = 0

	PRINT @MAHDMOT
	PRINT @MAHDHAI
	PRINT '--------'

	IF (@MAHDMOT IS NULL)
	BEGIN
		INSERT HOADON (NGAYVAO, NGAYRA, MABAN, TRANGTHAIHD)
		VALUES (GETDATE(), NULL, @MABAN1, 0)
		SELECT @MAHDMOT = MAX (MAHD) FROM HOADON WHERE MABAN = @MABAN1 AND TRANGTHAIHD = 0
 
	END

	SELECT @BANTRONGMOT = COUNT(*) FROM HOADONCHITIET WHERE MAHD =@MAHDMOT

	PRINT @MAHDMOT
	PRINT @MAHDHAI
	PRINT '------'

	IF (@MAHDHAI IS NULL)
	BEGIN
		PRINT '000002'
		INSERT HOADON (NGAYVAO, NGAYRA, MABAN, TRANGTHAIHD)
		VALUES (GETDATE(), NULL, @MABAN2, 0)
		SELECT @MAHDHAI = MAX (MAHD) FROM HOADON WHERE MABAN = @MABAN2 AND TRANGTHAIHD = 0

	END

	SELECT @BANTRONGHAI = COUNT(*) FROM HOADONCHITIET WHERE MAHD = @MAHDHAI

	PRINT @MAHDMOT
	PRINT @MAHDHAI
	PRINT '------'

	SELECT MAHDCT INTO MAHDCTBAN FROM HOADONCHITIET WHERE MAHD = @MAHDHAI
	UPDATE HOADONCHITIET SET MAHD = @MAHDHAI WHERE MAHD = @MAHDMOT
	UPDATE HOADONCHITIET SET MAHD = @MAHDMOT WHERE MAHDCT IN (SELECT * FROM MAHDCTBAN)
	DROP TABLE MAHDCTBAN

	IF (@BANTRONGMOT = 1)
		UPDATE BAN SET TRANGTHAI = N'Trống' WHERE MABAN = @MABAN2

	IF (@BANTRONGHAI = 1)
		UPDATE BAN SET TRANGTHAI = N'Trống' WHERE MABAN = @MABAN1
END

GO
/****** Object:  StoredProcedure [dbo].[USP_DSHDTHEONGAY]    Script Date: 12/11/2023 8:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_DSHDTHEONGAY] --LẤY DANH SÁCH HÓA ĐƠN THEO NGÀY
@NGAYVAO DATE, @NGAYRA DATE
AS
BEGIN
	SELECT t.TENBAN AS [Tên Bàn], b.TONGTIEN AS [Tổng Tiền], NGAYVAO AS [Ngày Vào], NGAYRA AS [Ngày Ra], GIAMGIA AS [Giảm Giá]
	FROM HOADON AS b,BAN AS t
	WHERE NGAYVAO >= @NGAYVAO AND NGAYRA <= @NGAYRA AND b.TRANGTHAIHD = 1
	AND t.MABAN = b.MABAN
END

GO
/****** Object:  StoredProcedure [dbo].[USP_GetDSBan]    Script Date: 12/11/2023 8:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetDSBan]
AS SELECT * FROM dbo.BAN

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertHOADON]    Script Date: 12/11/2023 8:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertHOADON]
@MABAN INT
AS
BEGIN
	INSERT INTO HOADON (NGAYVAO, NGAYRA, MABAN, TRANGTHAIHD, GIAMGIA)
	VALUES (GETDATE(), NULL, @MABAN, 0, 0)
END

GO
/****** Object:  StoredProcedure [dbo].[USP_InsertHOADONCHITIET]    Script Date: 12/11/2023 8:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_InsertHOADONCHITIET]
@MAHD INT, @MAMON INT, @SOLUONG INT
AS
BEGIN

	DECLARE @isExitsHOADONCHITIET INT
	DECLARE @SOLUONGMON INT = 1

	SELECT @isExitsHOADONCHITIET = MAHDCT, @SOLUONGMON = b.SOLUONG
	FROM HOADONCHITIET AS b
	WHERE MAHD = @MAHD AND MAMON = @MAMON

	IF (@isExitsHOADONCHITIET > 0)
	BEGIN
		DECLARE @newSOLUONG INT = @SOLUONGMON + @SOLUONG
		IF (@newSOLUONG > 0)
			UPDATE HOADONCHITIET SET SOLUONG = @SOLUONGMON + @SOLUONG
		ELSE
			DELETE HOADONCHITIET WHERE MAHD = @MAHD AND MAMON =@MAMON
		END
		ELSE
		BEGIN
			INSERT HOADONCHITIET (MAHD, MAMON, SOLUONG)
			VALUES (@MAHD, @MAMON, @SOLUONG)
		END
END

GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateTAIKHOAN]    Script Date: 12/11/2023 8:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateTAIKHOAN]
@TENTK NVARCHAR(100), @TENHT NVARCHAR(100), @MATKHAU NVARCHAR(100), @MATKHAUMOI NVARCHAR(100) --MẬT KHẨU MỚI
AS
BEGIN

	DECLARE @MATKHAUDUNG INT --MẬT KHẨU ĐÚNG

	SELECT @MATKHAUDUNG = COUNT(*) FROM TAIKHOAN WHERE TENTK = @TENTK AND MATKHAU = @MATKHAU
	IF (@MATKHAUDUNG = 1)
	BEGIN
		IF(@MATKHAUMOI = NULL OR @MATKHAUMOI = '')
		BEGIN
			UPDATE TAIKHOAN SET TENHT = @TENHT WHERE TENTK = @TENTK
		END
		ELSE
			UPDATE TAIKHOAN SET TENHT = @TENHT, MATKHAU = @MATKHAUMOI WHERE TENTK = @TENTK
	END
END

GO
/****** Object:  Table [dbo].[BAN]    Script Date: 12/11/2023 8:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAN](
	[MABAN] [int] IDENTITY(1,1) NOT NULL,
	[TENBAN] [nvarchar](100) NOT NULL DEFAULT (N'Bàn chưa có tên'),
	[TRANGTHAI] [nvarchar](100) NOT NULL DEFAULT (N'Trống'),
PRIMARY KEY CLUSTERED 
(
	[MABAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DANHMUCMON]    Script Date: 12/11/2023 8:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHMUCMON](
	[MADMON] [int] IDENTITY(1,1) NOT NULL,
	[TENDMON] [nvarchar](100) NOT NULL DEFAULT (N'Chưa Đặt Tên'),
PRIMARY KEY CLUSTERED 
(
	[MADMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/11/2023 8:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYVAO] [date] NULL DEFAULT (getdate()),
	[NGAYRA] [date] NULL,
	[MABAN] [int] NOT NULL,
	[TRANGTHAIHD] [int] NOT NULL DEFAULT ((0)),
	[GIAMGIA] [int] NULL,
	[TONGTIEN] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADONCHITIET]    Script Date: 12/11/2023 8:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADONCHITIET](
	[MAHDCT] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [int] NOT NULL,
	[MAMON] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MAHDCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MON]    Script Date: 12/11/2023 8:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MON](
	[MAMON] [int] IDENTITY(1,1) NOT NULL,
	[TENMON] [nvarchar](100) NOT NULL DEFAULT (N'Chưa Đặt Tên'),
	[MADMON] [int] NOT NULL,
	[GIA] [float] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[MAMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 12/11/2023 8:41:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[TENTK] [nvarchar](100) NOT NULL,
	[TENHT] [nvarchar](100) NOT NULL DEFAULT (N'Admin'),
	[MATKHAU] [nvarchar](1000) NOT NULL DEFAULT ((0)),
	[LOAITK] [int] NOT NULL DEFAULT ((0)),
PRIMARY KEY CLUSTERED 
(
	[TENTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[BAN] ON 

INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (1, N'BÀN 1', N'Trống')
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (2, N'BÀN 2', N'Trống')
INSERT [dbo].[BAN] ([MABAN], [TENBAN], [TRANGTHAI]) VALUES (3, N'BÀN 3', N'Trống')
SET IDENTITY_INSERT [dbo].[BAN] OFF
SET IDENTITY_INSERT [dbo].[DANHMUCMON] ON 

INSERT [dbo].[DANHMUCMON] ([MADMON], [TENDMON]) VALUES (1, N'CAFE')
INSERT [dbo].[DANHMUCMON] ([MADMON], [TENDMON]) VALUES (2, N'NƯỚC ÉP')
INSERT [dbo].[DANHMUCMON] ([MADMON], [TENDMON]) VALUES (3, N'SINH TỐ')
SET IDENTITY_INSERT [dbo].[DANHMUCMON] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHD], [NGAYVAO], [NGAYRA], [MABAN], [TRANGTHAIHD], [GIAMGIA], [TONGTIEN]) VALUES (34, CAST(N'2023-12-03' AS Date), CAST(N'2023-12-03' AS Date), 1, 1, 0, 45000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYVAO], [NGAYRA], [MABAN], [TRANGTHAIHD], [GIAMGIA], [TONGTIEN]) VALUES (35, CAST(N'2023-12-11' AS Date), CAST(N'2023-12-11' AS Date), 1, 1, 0, 55000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYVAO], [NGAYRA], [MABAN], [TRANGTHAIHD], [GIAMGIA], [TONGTIEN]) VALUES (36, CAST(N'2023-12-11' AS Date), CAST(N'2023-12-11' AS Date), 1, 1, 0, 55000)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[HOADONCHITIET] ON 

INSERT [dbo].[HOADONCHITIET] ([MAHDCT], [MAHD], [MAMON], [SOLUONG]) VALUES (38, 34, 2, 1)
INSERT [dbo].[HOADONCHITIET] ([MAHDCT], [MAHD], [MAMON], [SOLUONG]) VALUES (39, 34, 7, 1)
INSERT [dbo].[HOADONCHITIET] ([MAHDCT], [MAHD], [MAMON], [SOLUONG]) VALUES (40, 35, 2, 1)
SET IDENTITY_INSERT [dbo].[HOADONCHITIET] OFF
SET IDENTITY_INSERT [dbo].[MON] ON 

INSERT [dbo].[MON] ([MAMON], [TENMON], [MADMON], [GIA]) VALUES (2, N'CAFE ĐEN', 1, 20000)
INSERT [dbo].[MON] ([MAMON], [TENMON], [MADMON], [GIA]) VALUES (3, N'CAFE SỮA', 1, 25000)
INSERT [dbo].[MON] ([MAMON], [TENMON], [MADMON], [GIA]) VALUES (4, N'CAFE KEM', 1, 28000)
SET IDENTITY_INSERT [dbo].[MON] OFF
INSERT [dbo].[TAIKHOAN] ([TENTK], [TENHT], [MATKHAU], [LOAITK]) VALUES (N'LINH', N'LINHNE', N'123', 1)
INSERT [dbo].[TAIKHOAN] ([TENTK], [TENHT], [MATKHAU], [LOAITK]) VALUES (N'PHAT', N'PHATNE', N'', 1)
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MABAN])
REFERENCES [dbo].[BAN] ([MABAN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD FOREIGN KEY([MAMON])
REFERENCES [dbo].[MON] ([MAMON])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HOADONCHITIET]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MON]  WITH CHECK ADD FOREIGN KEY([MADMON])
REFERENCES [dbo].[DANHMUCMON] ([MADMON])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
USE [master]
GO
